:host
  display block

.section
  position relative
  padding-bottom 10rem

  .accent
    position absolute
    top 0
    left 0
    background-image url('/assets/images/slash.svg')
    width 20px
    background-repeat repeat-y
    height 30rem