@import '../../styles/general/spacing.styl'

:host
  display block

.section
  position relative
  padding-bottom $rem-large
  @media screen and (max-width: 500px)
    padding-bottom $rem-medium

  .accent
    position absolute
    top 0
    left 0
    background-image url('/assets/images/slash.svg')
    width $small
    background-repeat repeat-y
    height $rem-uber-large