@import '../../styles/general/spacing.styl'

:host
  display block

.section
  position relative
  padding-top $rem-medium
  padding-bottom $rem-medium
  @media screen and (max-width: 500px)
    padding-bottom $rem-medium