@import '../../styles/general/host-block.styl'

.header-navigation
  padding: 0 20px

.navigation-list
  display: flex
  list-style-type: none

.navigation-item
  list-style-type: none
  padding: 0 10px;

  &:first-child
    padding 0 10px 0 0

  &:last-child
    padding: 0 0 0 10px

.navigation-anchor
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline