@import '../../styles/general/host-block.styl'
@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/spacing.styl'

.header-navigation
  padding: 0 $small

.navigation-list
  display flex
  list-style-type none

.navigation-item
  list-style-type: none
  padding 0 $micro;
  color $gray-2
  navigation()
  text-transform uppercase

  &:first-child
    padding 0 $micro 0 0

  &:last-child
    padding 0 0 0 $micro

.navigation-anchor
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline