:host
  display block
  padding: 10rem 72px 72px

.footer
  display flex
  align-items center

.logo
  height 4rem
  
.spacer
  flex 1

.social-nav-list
  display flex
  margin 0
  list-style-type none

.social-nav
  margin 10px 20px
  display block
  list-style-type none
  
.social-icon-anchor
  text-decoration none
  color $gray-2
  
.social-icon
  width 4rem
  fill $gray-2