@import '../../styles/general/spacing.styl'
@import '../../styles/general/section-text.styl'

:host
  display block
  color: #737373

.logo
  width 70vw
  max-width 45rem
  margin-right: 5rem

.grid
  display: grid
  position relative
  grid-template-columns: 1fr 1fr
  @media screen and (max-width: 1023px)
    grid-template-columns: 1fr

.home_asset
  position: absolute
  bottom: 0
  @media screen and (max-width: 1023px)
    display none
  @media screen and (min-width: 1260px)
    left: 0

.keynote-video
  max-width 100%


