@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/button.styl'
@import '../../styles/general/main-page.styl'
@import '../../styles/general/section-text.styl'

:host
  display block

.h1
  h1()
  color $white
  padding 0 $large 0 $x-large
  @media screen and (max-width: 500px)
    padding 0 $large
  @media screen and (max-width: 400px)
    padding 0 $small
  @media screen and (min-width: 900px)
    white-space pre-wrap
    line-height: 50px
    font-size: 50px

.h2
  h2()
  font-size 2rem

.button
  button()
  margin 0 $small

.session4
  position: absolute
  padding-top: 13rem
  left: 0
  @media screen and (max-width: 1023px)
    display none

.group52
  position: absolute
  right: 10rem
  padding-top: 16rem
  @media screen and (max-width: 1023px)
    display: none

.group43
  position: absolute
  right: 0
  width:10%
  @media screen and (max-width: 1023px)
    display: none

.sponsor
  padding-top: $rem-large

.sponsor-group
  margin $large 0

.sponsors
  display flex
  align-items center
  flex-wrap wrap

  @media screen and (max-width: 500px)
    display block

.sponsor-anchor
  text-decoration none
  color none
  display block
  max-width 250px

  @media screen and (max-width: 500px)
    max-width 200px


.sponsor-image
  max-width 250px
  margin 0 $large

  @media screen and (max-width: 500px)
    max-width 200px
    margin $small 0

