@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/button.styl'
@import '../../styles/general/main-page.styl'
@import '../../styles/general/section-text.styl'

:host
  display block

.h1
  h1()

.button
  button()
  margin 0 $small

.sponsor
  padding-top: $rem-large