@import '../../styles/general/host-block.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/spacing.styl'

.banner-img-container
  height 80vh
  position relative

.banner-img
  height 80vh
  width 100%

.banner-title-container
  display flex
  position: absolute
  top: 60%
  left: 40%
  transform: translate(-45%, -50%)
  width: 100%

.banner-title
  flex 9

.banner-dots
  flex 3
  background-image url('/assets/images/dot-3.svg')
  background-size $small

.header_asset
  position: absolute
  top: 15rem
  right: 0
  width: 20% !important
  @media screen and (max-width: 1023px)
    display: none
