@import '../../styles/general/host-block.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/spacing.styl'

.banner-img-container
  height 50vh
  position relative
  background-color red

.banner-img
  height 80vh
  width 100%

.banner-title-container
  display flex
  position: absolute
  top: 50%
  left: 40%
  transform: translate(-45%, -50%)
  width: 100%

.banner-title
  flex 9

