@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

:host
  display block
  padding 24px

.body
  body()

.block
  display inline-block
  height 16px
  width 32px

.gray-1
  background: $gray-1

.gray-2
  background: $gray-2

.gray-3
  background: $gray-3

.gray-4
  background: $gray-4

.gray-5
  background: $gray-5

.gray-6
  background: $gray-6

.purple
  background: $purple

.white
  background: $white

.orange
  background: $orange

.teal
  background: $teal

.dark-teal
  background: $dark-teal

.h1
  h1()

.h2
  h2()

.paragraph
  paragraph()

.note
  note()

.time
  time()