:host
  display inline-block
  position relative

.bitmap
  position absolute
  width 100%
  opacity 1

.img
  width 100%
  opacity 0
  transition opacity 1s

img[cover]
  height 100%
  width 100%
  object-fit cover

.image-loaded
  opacity 0
  transition opacity 1s

.image-img-loaded
  opacity 1