@import '../../styles/general/host-block.styl'
@import '../../styles/general/typography.styl'
@import '../../styles/general/button.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/spacing.styl'

:host
  padding $rem-large $x-large
  @media screen and (max-width: 500px)
    padding $rem-medium $large

.google
  width 30rem
  margin-left -$rem-small
  vertical-align middle
  @media screen and (max-width: 400px)
    width 20rem

.io18
  width 30rem
  vertical-align middle
  @media screen and (max-width: 400px)
    width 20rem

.extended
  display inline-block
  vertical-align middle
  margin-top -$micro
  @media screen and (max-width: 610px)
    margin-top $micro

.h1
  h1()
  color $gray-6
  display block
  line-height $rem-medium

.paragraph
  paragraph()
  color $gray-6
  display block
  padding-left 3px

.icon
  fill $orange
  height $rem-semi-medium
  vertical-align middle

.icon-text
  padding-left $rem-small
  text-decoration none
  color inherit

.button
  button()
  color: $white
  background: $orange