@import '../../styles/general/host-block.styl'

.navigation-list
  list-style-type: none
  margin: 0
  padding: 10px 0

.navigation-item
  list-style-type: none
  padding: 10px
  color $gray-2
  navigation()
  text-transform uppercase

.navigation-anchor
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline