@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

:host
  display block

.h2 
  h2()
  margin 0 0 2rem 0
  
.paragraph
  paragraph()
  margin 0
  
.codelabs
  margin 0
  list-style-type none
  
.codelab-item
  margin 0
  list-style-type none