@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

:host
  display block

.h2
  h2()
  line-height 125%
  margin 0
  @media screen and (max-width: 400px)
    word-break break-word

  &.with-codelabs
    margin 0 0 2rem

.paragraph
  paragraph()
  margin 0 0 24px 0

.codelabs
  margin 0
  padding 0
  list-style-type none

.codelab-item
  margin 0
  list-style-type none