@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/button.styl'

:host
  display block

.h1
  h1()

.button
  button()
  margin 0 20px

.main
  background-image url('/assets/images/map.svg')
  background-position 30vw 0px
  background-repeat no-repeat
  background-size 100%

.section-text
  paragraph()
  padding-left 72px
  display block
  color $gray-2

  h1
    h1()

  p
    width 720px


.sponsor
  padding-top: 10rem
  
.schedule
  margin 0
  list-style-type none
  padding-right: 72px
  
.schedule-item
  margin 0
  list-style-type none
  display flex
  padding 2rem 0
  border-bottom 1px solid $gray-3
  
  .time
    time()
    width 10rem
    
  .schedule-topic
    flex 1
    margin-left 2rem