@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/button.styl'
@import '../../styles/general/main-page.styl'
@import '../../styles/general/section-text.styl'
@import '../../styles/general/spacing.styl'

:host
  display block

.h1
  h1()

.button
  button()
  margin 0 $small

.schedule
  margin 0
  list-style-type none
  padding-right $large
  @media screen and (max-width: 500px)
    padding-right $medium

.schedule-item
  margin 0
  list-style-type none
  display flex
  padding 2rem 0
  border-bottom 1px solid $gray-3

  .time
    time()
    width 10rem

  .schedule-topic
    flex 1
    margin-left 2rem