@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/button.styl'
@import '../../styles/general/main-page.styl'
@import '../../styles/general/section-text.styl'
@import '../../styles/general/spacing.styl'

:host
  display block

.h
  padding 0 $large 0 $x-large
  margin-top 0
  margin-bottom 1.5rem
  color white
  font-size 1.8rem

.h1
  h1()
  color $white
  padding 0 $large 0 $x-large
  @media screen and (max-width: 500px)
    padding 0 $large
  @media screen and (max-width: 400px)
    padding 0 $small

.button
  button()
  margin 0 $small

.schedule
  margin 0
  list-style-type none
  padding-right $large
  @media screen and (max-width: 500px)
    padding-right $medium
  @media screen and (max-width: 400px)
    margin 0
    padding-right $small

.schedule-item
  margin 0 !important
  list-style-type none
  display flex
  padding 2rem 0
  border-bottom 1px solid $gray-3

  .time
    time()
    width 10rem
    margin-top: 6px
    @media screen and (max-width: 500px)
      width 7rem

  .schedule-topic
    flex 1
    margin-left 2rem
    @media screen and (max-width: 500px)
      margin-left 1rem

.group43
  position absolute
  width 10%
  top 3rem
  right 0
  @media screen and (max-width: 1023px)
    display none


.group52
  position: absolute
  top: 100vh !important
  right: 2rem
  width: 8%
  padding-top: 16rem
  @media screen and (max-width: 1023px)
    display: none


.session4
  position: absolute
  padding-top: 100vh !important
  left: 0
  @media screen and (max-width: 1023px)
    display none

.regButton
  position absolute
  background-color white
  color grey
  border 0
  text-outline none
  text-decoration none
  font-size 2rem
  padding 1rem 2rem 1rem 2rem
  border-radius 5px
  @media screen and (min-width: 1023px)
    right 3rem
  @media screen and (max-width: 1023px)
    margin 2rem $large 0 $x-large

.header
  width 100%
  background-color #4285f4
  @media screen and (min-width: 1023px)
    height 55vh
  @media screen and (max-width: 1023px)
    height 50vh
