@import './color.styl'
@import './typography.styl'

button()
  display inline-block
  vertical-align top
  paragraph()
  padding 13px 20px
  border-radius 3px
  background $teal
  border none
  text-decoration none
  color $dark-teal
  text-transform uppercase
  font-weight bold

  [disable]
    background $gray-3
    color $gray-4

