.main
  background-position 20vw 0px
  background-repeat no-repeat
  background-size auto 200rem
  @media screen and (max-width: 1400px)
    background-position 10vw 0px
  @media screen and (max-width: 1200px)
    background-position 0px 0px
  @media screen and (max-width: 1000px)
    background-position -20vw 0px
  @media screen and (max-width: 900px)
    background-position -40vw 0px
  @media screen and (max-width: 750px)
    background-position -60vw 0px
  @media screen and (max-width: 650px)
    background-position -80vw 0px
  @media screen and (max-width: 550px)
    background-position -100vw 0px
  @media screen and (max-width: 500px)
    background-position -120vw 0px
  @media screen and (max-width: 450px)
    background-position -140vw 0px
  @media screen and (max-width: 400px)
    background-position -160vw 0px
  @media screen and (max-width: 375px)
    background-position -180vw 0px