@import '../../styles/general/typography.styl'
@import '../../styles/general/spacing.styl'


.section-text
  paragraph()
  display block
  color $gray-2
  max-width 80vw
  margin auto


  h1
    h1()
    margin-top: 5rem