$x-large = 72px
$large = 48px
$medium = 36px
$small = 24px
$micro = 12px

$rem-uber-large = 30rem
$rem-x-large = 15rem
$rem-large = 10rem
$rem-medium = 4rem
$rem-semi-medium = 3rem
$rem-small = 2rem
$rem-micro = 1rem