productSans()
  font-family 'Open Sans', sans-serif

roboto()
  font-family 'Roboto', sans-serif

h1()
  productSans()
  font-size 3.33rem

h2()
  productSans()
  font-size 2.9rem

paragraph()
  roboto()
  font-size 1.6rem
  line-height 1.25rem

note()
  roboto()
  font-size 1.25rem

time()
  productSans()
  font-size 3.125rem

body()
  roboto()
  letter-spacing -0.1rem